.output-container{
  font-family: "Kufam", sans-serif; 
  font-weight: lighter;
  font-style: normal;
  background-color: orange;
  color: white;
  height: 15em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  font-size: 10px;
  font-weight: bolder;
  border-radius: 10px;
}

.output-container div{
  font-size: 18px;
}
.message{
  font-size: 14px;
}

.red{
  color: red;
}

.orange{
  color: rgb(104, 104, 101);
}

.green{
  color: green;
}

.array-output-text::before {
 
  content: "Array Output/24hrs: ";
}

.battery-backup::before{
 
  content: " Battery Charging Time: ";
}

.battery-backup-text::before{
 
  content: "Battery backup Time: ";
}

.array-output-text::after {
  
  content: " Watt";
}

.battery-backup::after, .battery-backup-text::after{
 
  content: " Hours";
}

@media (max-width: 950px) {
  .output-container{
    background-color: orange;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5em 0.5em;
    font-size: 44px;
    font-weight: bolder;
    border-radius: 10px;
  }

  .array-output-text::before {
    content: "Pannel Output: ";
  }

  .battery-backup::before{
    content: "Charging Time: ";
  }

  .battery-backup-text::before{
    content: "Backup Time: ";
  }

  .array-output-text::after {
    content: " Watt";
  }

  .battery-backup::after, .battery-backup-text::after{
    content: " Hours";
  }
}